---
layout: default
itemtype: "http://schema.org/MusicGroup"
---

{% assign has_future = false %}
{% for show in site.data.shows %}
  {% assign show_date = show.date | date: '%s' | plus: 0 %}
  {% assign current_date = 'now' | date: '%s' | plus: 0 %}
  {% if show_date > current_date %}
    {% assign has_future = true %}
  {% endif %}
{% endfor %}

<meta itemprop="url" content="{{ site.url | append: site.baseurl }}">

<div class="fixed-bg fill-window z-neg-1" data-background-images='{{ site.data.bg | jsonify }}'></div>

<div id="splash" class="relative dark no-bg no-click">

  <div class="relative splash-wrapper padding-m screen-height flex-col flex-center" data-force-fullscreen>

    <h1 class="hidden" itemprop="name">{{ site.title }}</h1>
    <meta itemprop="logo" content="{{ site.logo.png | prepend: site.baseurl | prepend: site.url }}">
    <img class="full-width margin-auto-t margin-m-b" src="{{ site.logo.svg.white | prepend: site.baseurl }}" alt="{{ site.title }}">

    <ul class="margin-auto-b full-width flex-row flex-center media-icon-basic media-icon-list mq-icon-size">
      {% include all-media-icons.liquid icon_set=site.contact style="o play" list="true" microdata=true %}
    </ul>

    <a href="#safety-first" class="fa fa-chevron-down subtle-icon scroll-arrow" data-smooth-scroll data-hide-on-scroll data-analytics-category="Navigation" data-analytics-action="click" data-analytics-label="Used scroll arrow"></a>

  </div>

</div>

<div id="safety-first" class="dark no-bg content-wrapper margin-m-b padding-m" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
  <meta itemprop="name" content="Safety First">
  <meta itemprop="image" src="{{ site.baseurl }}/Safety-First-3.jpg">

  <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <meta itemprop="name" content="Safety First">
    <meta itemprop="thumbnailUrl" content="https://i.ytimg.com/vi_webp/qYNsF3leK58/maxresdefault.webp">
    <meta itemprop="uploadDate" content="2019-01-09">
    <p class="font-size-large fw-600 text-center" itemprop="description">{{ site.description }}</p>
    <div class="expand-children aspect-16-9">
      <iframe itemprop="url" src="https://www.youtube.com/embed/qYNsF3leK58" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen data-analytics-category="Video" data-analytics-action="click" data-analytics-label="Watched Safety First"></iframe>
    </div>
  </div>

</div>

{% if has_future %}

  <div id="shows" class="dark no-bg screen-height-min mq-mobile-min-height-0 shows-large-font hard-shadow flex-col" data-analytics-category="Navigation" data-analytics-action="view" data-analytics-label="Viewed upcoming shows">

    <div class="shows-wrapper padding-m-h padding-l-b half-height-min fill-flex-parent flex-col flex-justify-center">

      <h2 class="text-center">New England Tour 2019</h2>

      {% include shows.html %}

    </div>

  </div>

{% endif %}

<div itemprop="album" itemscope itemtype="http://schema.org/MusicAlbum">

  <div id="temper-tantrum" class="light padding-m-v mq-temper-tantrum">
    <h2 class="margin-0" itemprop="name">
      {% assign tt_mobile = '/assets/gulp-srcset/temper-tantrum-mobile.jpg' | prepend: site.baseurl %}
      {% assign tt_laptop = '/assets/gulp-srcset/temper-tantrum-laptop.jpg' | prepend: site.baseurl %}
      <picture>
        <source media="(min-width: 1000px)" srcset="{% include gulp-srcset.liquid src=tt_laptop width='5230' %}" sizes="100vw">
        <img class="margin-auto-h" src="{{ tt_mobile }}" srcset="{% include gulp-srcset.liquid src=tt_mobile width='9807' %}" sizes="100vw" alt="Temper Tantrum">
      </picture>
    </h2>
  </div>

  <div class="relative dark temper-tantrum-bg overflow-h" data-rob-container data-analytics-category="Navigation" data-analytics-action="view" data-analytics-label="Viewed Temper Tantrum">

    {% capture cover_art %}
      <img id="rob-2" class="absolute max-width-none person-height container-84-height-min bottom left-quarter translate-left-65 mq-rob-2" src="{{ site.baseurl }}/assets/gulp-pictures/bucket-off.png" alt="">
    {% endcapture %}

    {% include gulp-picture.liquid img=cover_art %}

    <div class="content-wrapper padding-m-h padding-l-v text-center">

      <div class="relative z-1 margin-half-l v-rhythm font-size-large fw-600 mq-temper-tantrum">

        <iframe class="full-width mq-bandcamp-height" src="https://bandcamp.com/EmbeddedPlayer/album=2871722682/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless itemprop="audio" data-analytics-category="Audio" data-analytics-action="click" data-analytics-label="Listened to Temper Tantrum">
          <a href="http://moretongues.bandcamp.com/album/temper-tantrum">Temper Tantrum by More Tongues Than Teeth</a>
        </iframe>

        <p>Listen on Bandcamp, Apple Music, or Spotify.</p>

        <ul class="full-width icon-size flex-row flex-center media-icon-basic media-icon-list">
          {% include all-media-icons.liquid icon_set=site.temper_tantrum list=true %}
        </ul>

      </div>

    </div>

  </div>

</div>
